@using PagedList.Mvc
@using File = Files.Models.File
@model PagedList.StaticPagedList<File>

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="hidden-xs">Upload a File</span><span class="visible-xs">Files</span>
    </div>

    <div class="panel-body">
        <div class="hidden-xs">
            <p>Upload file here.</p>
        </div>

        <p class="hidden-xs">
            Allowed file types.
        </p>

        <p style="font-weight: bold;">
            Files are not scanned for viruses by the server. Download files at your
            own risk.
        </p>
    </div>

    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Uploaded (UTC)
            </th>
            <th class="text-right">
                Size
            </th>
            <th>
                Type
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @{
                        var dateFormatted = @Html.DisplayFor(modelItem => item.Uploaded);
                    }
                    <time title="@dateFormatted (UTC)" datetime="@item.Uploaded.ToString("O")">@dateFormatted</time>
                </td>
                <td class="text-right">
                    @File.FormatSize(item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
            </tr>
        }
    </table>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new {page}), PagedListRenderOptions.ClassicPlusFirstAndLast)