@model SimpleFiles.ViewModels.EntryViewModels.CreatePasswordViewModel
@{
    ViewBag.Title = "Create Password";
}

<div class="entry-container">
    <h2>Create Password</h2>

    @using (@Html.BeginForm())
    {
        @Html.ValidationSummary()

        <div class="form-group">
            @Html.LabelFor(model => model.Password)
            @Html.Password("Password", "", new {placeholder = "Password", @class = "form-control"})

            @Html.LabelFor(model => model.ConfirmPassword)
            @Html.Password("ConfirmPassword", "", new {placeholder = "Confirm Password", @class = "form-control"})
        </div>

        <p class="help-block">This password is used to sign in and be able to use the Files application. The password is hashed and saved in a config file.</p>

        @Html.AntiForgeryToken()

        <button type="submit" class="btn btn-default">Sign In</button>
    }
</div>